#qrl_mortcalc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 14px #ddd;
  -webkit-box-shadow: inset 0 0 14px #ddd;
  box-shadow: inset 0 0 14px #ddd;
  width: 300px;
}
#qrl_mortcalc .qrl-mortcalc-head {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 5px 15px;
}
#qrl_mortcalc .qrl-mortcalc-head h2 {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
#qrl_mortcalc .qrl-ctl {
  margin: 0 0 10px 10px;
  padding: 3px 0;
}
#qrl_mortcalc .qrl-ctl:before,
#qrl_mortcalc .qrl-ctl:after {
  display: table;
  content: " ";
}
#qrl_mortcalc .qrl-ctl li {
  text-align: center;
  float: left;
  margin: 4px 0 -1px 4px;
  position: relative;
  display: block;
  list-style: none;
}
#qrl_mortcalc .qrl-ctl li a {
  position: relative;
  display: block;
  line-height: 20px;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 13px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}
#qrl_mortcalc .qrl-ctl:after {
  clear: both;
}
#qrl_mortcalc .qrl-hidden {
  display: none;
}
#qrl_mortcalc .qrl-mortcalc-inner {
  padding-left: 15px;
  padding-right: 15px;
}
#qrl_mortcalc * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#qrl_mortcalc:before,
#qrl_mortcalc:after {
  display: table;
  content: " ";
}
#qrl_mortcalc .qrl-wrap {
  margin-left: -15px;
  margin-right: -15px;
}
#qrl_mortcalc .qrl-wrap:after,
#qrl_mortcalc .qrl-wrap:before {
  display: table;
  content: " ";
}
#qrl_mortcalc .qrl-wrap:after {
  clear: both;
}
#qrl_mortcalc div.qrl-grp {
  margin-bottom: 15px;
  position: relative;
}
#qrl_mortcalc label.qrl-lbl {
  display: block;
  font-size: 13px;
  margin: 2px 0;
  font-weight: bold;
}
#qrl_mortcalc input.qrl-txt {
  height: 32px;
}
#qrl_mortcalc input.qrl-txt,
#qrl_mortcalc select.qrl-sel {
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  width: 100%;
  color: #000;
}
#qrl_mortcalc input.qrl-txt.qrl-text-dol,
#qrl_mortcalc select.qrl-sel.qrl-text-dol {
  padding-left: 26px;
}
#qrl_mortcalc input.qrl-txt:focus,
#qrl_mortcalc select.qrl-sel:focus {
  outline: 0;
}
#qrl_mortcalc div.qrl-col {
  position: relative;
}
#qrl_mortcalc div.qrl-dol {
  color: #000;
  position: absolute;
  left: 12px;
  bottom: 7px;
}
#qrl_mortcalc .qrl-col {
  display: block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#qrl_mortcalc.qrl-horizontal {
  width: 800px;
}
#qrl_mortcalc.qrl-horizontal .qrl-col {
  display: inline-block;
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#qrl_mortcalc .qrl-fin {
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  padding-right: 20px;
}
#qrl_mortcalc.qrl-light {
  background-color: #fff;
  border: solid 1px #ddd;
}
#qrl_mortcalc.qrl-light .qrl-mortcalc-head {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #d8d8d8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #d8d8d8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #d8d8d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffd8d8d8', GradientType=0);
  border-bottom: solid 1px #ddd;
}
#qrl_mortcalc.qrl-light input.qrl-txt,
#qrl_mortcalc.qrl-light select.qrl-sel {
  border: solid 1px #ddd;
}
#qrl_mortcalc.qrl-light input.qrl-txt:focus,
#qrl_mortcalc.qrl-light select.qrl-sel:focus {
  border-color: #cacc6f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 246, 197, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 246, 197, 0.6);
}
#qrl_mortcalc.qrl-light .qrl-ctl li.active a {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #000;
}
#qrl_mortcalc.qrl-light .qrl-ctl li.active a:hover {
  border: 1px solid #ddd;
}
#qrl_mortcalc.qrl-light .qrl-ctl li a {
  color: #555;
  border: solid 1px transparent;
}
#qrl_mortcalc.qrl-light .qrl-ctl li a:hover {
  border: 1px solid #eee;
}
#qrl_mortcalc.qrl-light .qrl-ctl:after {
  clear: both;
}
#qrl_mortcalc.qrl-dark {
  border: solid 1px #333;
  background-color: #666;
  color: #fff;
  -moz-box-shadow: inset 0 0 14px #333;
  -webkit-box-shadow: inset 0 0 14px #333;
  box-shadow: inset 0 0 14px #333;
}
#qrl_mortcalc.qrl-dark .qrl-mortcalc-head {
  border-bottom: solid 1px #333;
  background-color: #333;
  background-image: -webkit-linear-gradient(top, #666666 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #666666 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #666666 0%, #333333 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff333333', GradientType=0);
}
#qrl_mortcalc.qrl-dark input.qrl-txt,
#qrl_mortcalc.qrl-dark select.qrl-sel {
  border: solid 1px #ddd;
}
#qrl_mortcalc.qrl-dark input.qrl-txt:focus,
#qrl_mortcalc.qrl-dark select.qrl-sel:focus {
  border-color: #cacc6f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 246, 197, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 246, 197, 0.6);
}
#qrl_mortcalc.qrl-dark .qrl-ctl li.active a {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #000;
}
#qrl_mortcalc.qrl-dark .qrl-ctl li.active a:hover {
  border: 1px solid #ddd;
}
#qrl_mortcalc.qrl-dark .qrl-ctl li a {
  border: 1px solid transparent;
  color: #eee;
}
#qrl_mortcalc.qrl-dark .qrl-ctl li a:hover {
  border: 1px solid #999;
}
#qrl_mortcalc.qrl-dark .qrl-ctl:after {
  clear: both;
}
#qrl_mortcalc.qrl-cm .qrl-txt {
  height: 32px;
}
#qrl_mortcalc.qrl-cm #qrl_result_mp,
#qrl_mortcalc.qrl-cm #qrl_result_ml {
  line-height: 0.6;
}
#qrl_mortcalc.qrl-cm .qrl-dol {
  position: absolute;
}
#qrl_mortcalc.qrl-cm.qrl-vertical .qrl-txt,
#qrl_mortcalc.qrl-cm.qrl-vertical .qrl-sel {
  width: 245px;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-ctl {
  width: 95%;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-col {
  width: 230px;
  display: table-cell;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-txt {
  width: 200px;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-sel {
  width: 210px;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-wrap {
  display: table;
}
#qrl_mortcalc.qrl-cm.qrl-horizontal .qrl-fin {
  clear: both;
}
/*# sourceMappingURL=mortcalc.css.map */
